:root {
  --white: #fff;
  --light: #f5f4f0;
  --transparent-light: #d7ccc0;
  --primary-light: #fe8a02;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --primary-dark: #42413c;
  --secondary: #b09a81;
  --tertiary: #1085c5;
}

body {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  margin: 0;

  color: var(--dark);
  font: 16px/1.6 "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;

  font-weight: 400;
  font-family: Neucha, serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  position: relative;

  width: 100%;
}

main {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  width: 100%;
}

.content {
  position: relative;

  max-width: 1110px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-light {
  background: var(--light);
}

.bg-image::before {    
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: '';
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.two-columns {
  display: flex;

  column-gap: 30px;
}

.two-columns .column {
  flex-basis: 50%;
}

/* .two-columns {
  padding-top: 1em;

  column-count: 2;
  column-gap: 30px;
}

.two-columns p {
  margin-top: 0;
  break-inside: avoid;
}

.break-after {
  break-after: column;
} */

.button {
  display: inline-block;
  margin-top: 24px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background: var(--primary-light);
}

.color-primary-light {
  color: var(--primary-light);
}

.header {
  position: relative;

  margin-bottom: 180px;
}